

.product-management {
    margin: 3rem;

    .button {
            .p-button {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
        
    .p-button {
        margin: 0.2rem;
    }
    
@import './product-table.scss';

}

.pop-up-edit {
    margin: 2rem;
}

.pop-up-delete {
    margin: 2rem;
}
