.product-management {
    margin: 3rem;

    .header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 2.8rem;
        
        .button .p-button {
            height: 2.8rem;
        }        
    }
    .options {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 2.8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        .button .p-button {
            height: 2.8rem;
        }
    }
@import './product-table.scss';

}

.pop-up-edit {
    margin: 1rem;
}

.pop-up-delete {
    margin: 1rem;
}

.pop-up-more-options {
    margin: 1rem;
}
