.product-table {
    
    a {
        color: #495057;
        text-decoration: none;
    }
    .actions {
        display: flex;
        justify-content: center;
    }
    .p-button {
        margin-right: 0.5rem;
    }
}
